html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

svg {
    height: 60%;
    width: 100%;
}

g {
    height: 100%;
    width: 100%;
}

.node rect, .node circle, .node ellipse, .node polygon {
    stroke: #333;
    fill: #fff;
    stroke-width: 1.5px;
}

.edgePath path.path {
    stroke: #333;
    fill: none;
    stroke-width: 1.5px;
}

.edgeList {
    height: 40%;
    width: 100%;
    overflow-y: scroll;
}
